  body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  #useImage{
    width: 120px;
    height: 120px;
  }
#input{
	border:none;
}
